* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html {
  font-family: "Poppins, sans-serif";
}
body {
  --primary_color: #ffc800;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section {
  padding: 96px 0;
}

/* Header */
.header {
  background: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg")
    no-repeat center / cover;
}
.nav-item {
  padding: 8px;
}
.navbar-dark .navbar-nav .nav-link {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  transition: color 0.2s linear;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--primary_color);
}

.header__content {
  padding: 272px 0 200px;
  text-align: center;
  color: #fff;
}
.header__subheading {
  font-size: 36px;
  margin-bottom: 32px;
}

.header__heading {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 64px;
}

button.btn.btn-primary {
  border: 0;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary_color);
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .header__subheading {
    font-size: 28px;
  }
  .header__heading {
    font-size: 50px;
  }
}
@media screen and (max-width: 576px) {
  .header__subheading {
    font-size: 24px;
  }
  .header__heading {
    font-size: 40px;
  }
}

/* Service section */
.service {
  text-align: center;
}

.section__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-weight: 700;
  text-align: center;
}
.section__subheading {
  margin-bottom: 64px;
  text-align: center;
  font-style: italic;
}

.service__list {
  list-style: none;
}

.service__item-icon {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background-color: var(--primary_color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service__item-icon > i {
  font-size: 50px;
  color: #fff;
}

.service__item-name {
  font-size: 24px;
  font-weight: 700;
}

/* Porfolio section */
.porfolio {
  background-color: #f8f9fa;
  text-align: center;
}
.porfolio__list {
  list-style: none;
}
.porfolio__item {
  text-align: center;
  margin-bottom: 30px;
}
.porfolio__img {
  position: relative;
}

.porfolio__img:hover:before {
  opacity: 1;
  cursor: pointer;
}
.porfolio__img:before {
  position: absolute;
  content: "\f067";
  background-color: rgba(255, 200, 0, 0.9);
  font-family: "Font Awesome 5 Free";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
  opacity: 0;
  transition: all 0.2s linear;
}
.porfolio__content {
  background-color: #fff;
  padding: 15px;
}

/* About section */
.about__timeline {
  list-style: none;
  position: relative;
}

.about__timeline:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.about__item {
  margin-bottom: 100px;
  display: flex;
}

.about__item:nth-child(even) {
  flex-direction: row-reverse;
}
.about__item:nth-child(odd) .about__item-img {
  order: 1;
}
.about__item:nth-child(even) .about__item-img {
  order: 1;
}

.about__item:nth-child(odd) .about__item-content {
  padding: 0 40px 20px 40px;
  text-align: end;
}
.about__item:nth-child(even) .about__item-content {
  padding: 0 40px 20px 40px;
  text-align: start;
}

.about__item .about__item-content {
  max-width: 43%;
}

.about__item:last-child .about__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary_color);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin: 0 auto;
}

.about__item-img {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  flex-shrink: 0;
  justify-self: center;
  padding: 7px;
  background-color: #eee;
}

.about__item-img img {
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  .about__item .about__item-content {
    max-width: 42%;
  }
}

@media screen and (max-width: 992px) {
  .about__item .about__item-content {
    max-width: 43%;
  }
  .about__item-img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 767px) {
  .about__timeline:before {
    left: 50px;
    transform: translateX(0);
  }
  .about__item {
    justify-content: flex-start;
  }
  .about__item:nth-child(even) {
    flex-direction: row;
  }
  .about__item .about__item-content {
    order: 2;
    max-width: 100%;
  }
  .about__item:nth-child(odd) .about__item-content,
  .about__item:nth-child(even) .about__item-content {
    text-align: start;
  }
  .about__item__img {
    order: 0;
    width: 100px;
    height: 100px;
  }
  .about__item:last-child .about__item-img {
    margin: 0;
  }
}

/* Team section */
.team {
  background-color: #eee;
}

.team__list {
  list-style: none;
}

.team__member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.team__member-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__member-img {
  width: 224px;
  height: 224px;
  padding: 7px;
  border-radius: 50%;
  background-color: #ccc;
}

.team__member-img img {
  border-radius: 50%;
}

.team__member-name {
  text-align: center;
  margin: 24px 0 0;
}

.team__member-position {
  margin: 0 auto;
  margin-bottom: 16px;
}

.team__member-social {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.team__member-social > span {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__member-social span i {
  color: #fff;
}

.team__desc {
  font-weight: 500;
  line-height: 1.6;
  width: fit-content;
  margin: 0 auto;
}

/* Sponsor section */

.sponsor {
  padding: 48px 0;
}

.sponsor__list {
  background-color: #fff;
}

.sponsor__list img {
  max-height: 45px;
  object-fit: contain;
  margin-bottom: 20px;
}

/* Contact section */
.contact {
  background: #212529
    url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png")
    no-repeat center / cover;
}

.contact .section__heading {
  color: #fff;
}

.contact .section__subheading {
  color: #6c757d;
}

.contact__form {
  display: flex;
  margin-bottom: 40px;
}

.contact input {
  border-radius: 5px;
}

.contact__left {
  margin: 0;
}

.contact input:not(:last-child) {
  margin-bottom: 20px;
}

.contact textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.form__btn {
  display: block;
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 20px 40px;
  margin: 0 auto;
  background-color: var(--primary_color);
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .contact input {
    padding: 20px 10px;
  }
  .contact__left {
    margin-bottom: 20px;
  }
}

/* Footer */
.footer {
  text-align: center;
  vertical-align: middle;
  padding: 24px 0;
}

.footer__copyright {
  margin: 10px 0;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.footer__social > span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.footer__social > span > i {
  color: #fff;
}

.footer__options {
  margin: 10px 0;
}
